<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Community-Built Slack App for CheckPhish Installation Authorization Succeeded</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container">
      <h1>Success!</h1>

      <p>You've successfully added the community-built CheckPhish Slack integration to the <%=team%> Slack workspace.</p>
      <p>To submit a website to Bolster's powerful deep learning CheckPhish scanner for real-time phishing and fraudulent website detection, in any channel in your Slack workspace enter:</p>
      <p>
        <code>
          /<%=slackSlashCommand%> [url to check]
        </code>
      </p>
      <p>For more information on CheckPhish, please visit <a href="https://checkphish.ai/?utm_source=slack_plugin&utm_medium=slack&utm_campaign=tim_johns">CheckPhish.ai</a></p>
    </div>
    <%- include('partials/footer') %>
    <%- include ('partials/bodylast') %>
  </body>
</html>
